---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Sobre Nosotros">
    <div class="bg-[#001037] w-full flex flex-col justify-center items-center gap-8 lg:p-12 p-4">
        <section class="lg:w-[80%] w-full flex gap-12 justify-center lg:py-20 py-12">
            <div class="lg:w-full flex flex-col items-center p-2">
                <h2 class="lg:text-6xl text-4xl text-[#00c1af]">¿Quiénes Somos?</h2>
                <p class="lg:mt-8 mt-4">
                    Somos una empresa familiar con RUC 20605561439 para comercializar medicamentos, dispositivos médicos y productos sanitarios. Fue creada y fundada el 25/11/2019, registrada dentro de las sociedades mercantiles como SOCIEDAD CERRADA. CAL.LOS AMANCAES MZA. A MUCHO. 23 AV. EL OLIVAR (ALTURA CONDOMINIO LAS TORRES) LIMA / LIMA / LOS OLIVOS.<br>
                    La gerente general es Rosa Benigna Tapia Lorenzo y el gerente comercial, desde muy pequeño nació el deseo de hacer negocios de importación y ser distribuidor. Llevamos 4 años y tenemos una base de clientes en universidades, clínicas, hospitales.<br>
                    Actualmente contamos con la distribución de implantes dentales de la marca SGS IMPLANTS (Suiza-Húngara), MICRO CUCHILLAS (California) y conocemos profesionales en el campo de la odontología y la medicina por lo cual nuestro interés en poder adquirir productos de alta calidad para el Perú
                </p>
            </div>
        </section>
        <section class="lg:w-[80%] w-full flex lg:flex-row flex-col justify-between lg:py-20 py-12 gap-20 lg:gap-0">
            <div class="lg:w-[45%] flex flex-col items-center p-2">
                <h2 class="lg:text-6xl text-4xl border-b text-[#00c1af] border-[#00c1af]">MISIÓN</h2>
                <p class="mt-4 text-center">
                    Dait import ofrece una amplia variedad en medicamentos, dispositivos médicos y productos sanitario y tenemos la representación del sistema de implantes EUROPEO (SUIZA-HUNGRIA) y micro cuchillas Americana (california) que se comercializa con precios altamente competitivo en el mercado.
                    Garantizamos la sustitución de sus dientes ausentes de manera inmediata y ser referente en el mercado nacional, creando alianza estratégico con nuestros clientes.
                    Total satisfacción, mediante una gestión eficiente y tratamientos funcionales y estables.
                </p>
            </div>
            <div class="lg:w-[45%] flex flex-col items-center p-2">
                <h2 class="lg:text-6xl text-4xl border-b text-[#00c1af] border-[#00c1af]">VISIÓN</h2>
                <p class="mt-4 text-center">
                    Convertir a DAIT IMPORT en una empresa  líder global en el mercado de la  implantología y la Cirugía Plástica Periodontal, por la innovación, la calidad y la sostenibilidad de sus productos y servicios.
                    Establecer un nuevo estándar en servicios dentales especializados, mediante un nuevo concepto de odontología multidisciplinaria.
                </p>
            </div>
        </section>
    </div>
</Layout>