---
import Layout from "../../layouts/Layout.astro"
---
<Layout title="Sobre Nosotros">
    <div class="w-full flex flex-col text-[#fff] px-4">
        <div>
            <h2>Página en construcción</h2>
        </div>
        <div class="grid grid-cols-2">
            <div>
    
            </div>
            <div>
                
            </div>
        </div>
    </div>
</Layout>