---
import perfumes from "../../../assets/Productos/prodSanitarios/perfumes.png";
import shampoo from "../../../assets/Productos/prodSanitarios/shampoo.png";
import estucheBB from "../../../assets/Productos/prodSanitarios/estucheBebes.png";
import Layout from "../../../layouts/Layout.astro";

// Array de productos
const productos = [
  { id: 1, nombre: "Perfumes", imagen: perfumes.src, enlace: "/productos/micro-laminas/manijas-pinzas" },
  { id: 2, nombre: "Shampoos", imagen: shampoo.src, enlace: "/productos/micro-laminas/cuchillas-miniatura" },
  { id: 3, nombre: "Estuche para Bebés", imagen: estucheBB.src, enlace: "/productos/micro-laminas/micro-cuchillas-miniatura" }
];
---

<Layout title="Prod. Sanitarios">
  <section class="h-full flex flex-col items-center lg:gap-8 gap-6 w-full border-t border-[#282828] lg:py-16 py-8">
    <h2 class="lg:text-7xl text-3xl text-[#fff] w-[80%] text-center">Productos Sanitarios</h2>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 lg:py-10 lg:w-[80%] w-[90%]">
        <!-- Bucle Astro para productos -->
        {productos.map((producto) => (
          <div class="flex flex-col text-[#ff9a02] w-full">
            <a href={producto.enlace} class="w-full transition-transform duration-300 ease-in-out transform hover:scale-105">
              <img src={producto.imagen} alt={producto.nombre} />
            </a>
            <div class="flex justify-center flex-col py-4 w-full">
              <h4 class="lg:text-lg font-bold w-[80%] text-center">{producto.nombre}</h4>
            </div>
          </div>
        ))}
      </div>
      
  </section>
</Layout>
