---
import Layout from '../layouts/Layout.astro';
import Body from '../components/Body.astro';
import Productos from '../components/Productos.astro';
import Clientes from '../components/Clientes.astro';
---

<Layout title="DAIT Import">
  <main class="w-full">  
    <Body />
    <Productos />
    <Clientes />
  </main>
</Layout>