---
import fondoTxt from "../assets/fondoTxt.png";
import mainIMG from "../assets/main.png";
import slider from "../assets/slider2.png";
---

<section class="flex flex-col lg:flex-row items-center justify-center gap-12 w-full bg-[#001037] text-[#fff] ">
  <!-- Contenedor de la primera imagen con el texto superpuesto -->
  <div class=" w-full flex flex-col items-center lg:items-start text-center lg:text-left relative">
    <img src={mainIMG.src} alt="Fondo" class="w-full">
    
    <!-- Texto superpuesto con sombra -->
    <div class="absolute inset-0 flex items-center justify-center">
      <h2 class="text-4xl lg:text-7xl drop-shadow-2xl lg:font-bold">Accesorios Protésicos</h2>
    </div>
    
  </div>

  
</section>
