---
import daitLogo from "../assets/Logos/DI_logo.png"
---
<!------------Laptop/Desktop------------ -->
<footer class="bg-[#fff] hidden lg:flex flex-col lg:pt-6 border-t border-[#282828]">
    <div class="container pb-6 pt-12 mx-auto flex lg:justify-between lg:gap-12 items-center h-full lg:flex-row flex-col">

        <div class="h-full w-[25%] flex items-center">
            <a href="/">
              <img src={daitLogo.src} alt="" class="w-full" />
            </a>
        </div>

        <div class="flex lg:gap-12 w-[75%] justify-center">
            <div class="flex flex-col w-[26%]">
                <h2 class="text-2xl border-b-2 border-slate-400 border-solid text-[#001037]">Comprar Productos</h2>
                <ul class="flex flex-col justify-center gap-1 mt-4 text-[#001037]">
                    <li><a href="" class="hover:text-[#00c1af]">Implantes Dental</a></li>
                    <li><a href="" class="hover:text-[#00c1af]">Micro Láminas</a></li>
                    <li><a href="" class="hover:text-[#00c1af]">Disp. Médicos</a></li>
                    <li><a href="" class="hover:text-[#00c1af]">Medicamentos</a></li>
                    <li><a href="" class="hover:text-[#00c1af]">Prod. Sanitarios</a></li>
                </ul>
            </div>
    
            <div class="flex flex-col w-[26%]">
                <h2 class="text-2xl border-b-2 border-slate-400 border-solid text-[#001037]">Contáctenos</h2>
                <ul class="flex flex-col justify-center gap-1 mt-4">
                    <!-- Enlace a la ubicación en Google Maps -->
                    <li>
                        <a href="https://maps.app.goo.gl/pFitDRoroAz9YdDq5" target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4s-4 1.794-4 4s1.794 4 4 4m0-6c1.103 0 2 .897 2 2s-.897 2-2 2s-2-.897-2-2s.897-2 2-2"/><path fill="currentColor" d="M11.42 21.814a1 1 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819M12 4c3.309 0 6 2.691 6 6.005c.021 4.438-4.388 8.423-6 9.73c-1.611-1.308-6.021-5.294-6-9.735c0-3.309 2.691-6 6-6"/></svg>
                            </span>
                            <span class="leading-tight">Amancaes Mz A Lote 23 El Olivar Los Olivos</span>
                        </a>
                    </li>
                
                    <!-- Enlace para realizar una llamada telefónica -->
                    <li>
                        <a href="https://wa.me/51920341943?text=Hola,%20me%20interesa%20más%20información." target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"/></svg>
                            </span>
                            <span>920 341 943</span>
                        </a>
                    </li>
                    
                    <!-- Enlace para enviar un correo -->
                    <li>
                        <a href="mailto:ventas@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                            </span>
                            <span>ventas@daitimport.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:gerencia@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                            </span>
                            <span>gerencia@daitimport.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:administracion@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                            </span>
                            <span>administracion@daitimport.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:logistica@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#00c1af] text-[#001037]">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                            </span>
                            <span>logistica@daitimport.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-full flex">
        <ul class="flex justify-center w-full gap-3">
            <li><a href="https://www.facebook.com/p/DAIT-Import-SAC-100051574479000/" target="_blank" class="hover:text-[#00c1af] text-[#001037]"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg></a></li>
            <li><a href="" class="hover:text-[#00c1af] text-[#001037]"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a></li>
            <li><a href="" class="hover:text-[#00c1af] text-[#001037]"><svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"/></svg></a></li>
        </ul>
    </div>
    
    <div class="w-full flex justify-center bg-[#3B4B55] text-[#fff] py-4 mt-2">
        <span class="text-center">Todos los Derechos Reservados 2024 DAIT IMPORT. <a href="https://github.com/Focbri" target="_blank" class="hover:text-[#00c1af]">Web Creada por Joan</a></span>
    </div>
</footer>

<!------------Celular------------------- -->
<footer class="bg-[#fff] flex flex-col lg:hidden text-[#001037] ">
    <div class="container mx-auto p-6 flex flex-col lg:flex-row lg:justify-between lg:items-center">
        <!-- Products Section -->
        <details class="w-full lg:w-auto mb-4 lg:mb-0">
            <summary class="lg:text-2xl text-lg border-b-2 border-slate-400 cursor-pointer">Comprar Productos</summary>
            <ul class="flex flex-col justify-center gap-1 mt-4 px-4 text-[#001037]">
                <li><a href="" class="hover:text-[#ff6b02]">Implantes Dental</a></li>
                    <li><a href="" class="hover:text-[#ff6b02]">Micro Láminas</a></li>
                    <li><a href="" class="hover:text-[#ff6b02]">Disp. Médicos</a></li>
                    <li><a href="" class="hover:text-[#ff6b02]">Medicamentos</a></li>
                    <li><a href="" class="hover:text-[#ff6b02]">Prod. Sanitarios</a></li>
            </ul>
        </details>

        <!-- Contact Section -->
        <details class="w-full lg:w-auto mb-4 lg:mb-0">
            <summary class="lg:text-2xl text-lg border-b-2 border-slate-400 cursor-pointer">Contáctenos</summary>
            <ul class="flex flex-col justify-center gap-1 mt-4 px-4 text-[#001037]">
                <li>
                    <a href="https://maps.app.goo.gl/pFitDRoroAz9YdDq5" target="_blank" class="flex items-center gap-1 hover:text-[#ff6b02] text-[#001037]">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4s-4 1.794-4 4s1.794 4 4 4m0-6c1.103 0 2 .897 2 2s-.897 2-2 2s-2-.897-2-2s.897-2 2-2"/><path fill="currentColor" d="M11.42 21.814a1 1 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819M12 4c3.309 0 6 2.691 6 6.005c.021 4.438-4.388 8.423-6 9.73c-1.611-1.308-6.021-5.294-6-9.735c0-3.309 2.691-6 6-6"/></svg>
                        </span>
                        <span class="leading-none">Amancaes Mz A Lote 23 El Olivar Los Olivos</span>
                    </a>
                </li>
                <li>
                    <a href="tel:+51920341943" target="_blank" class="flex items-center gap-1">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 100 100">
                                <path fill="currentColor" d="M84.96 70.237c-.167-1.032-.814-1.914-1.783-2.438l-14.335-8.446l-.118-.066a4.26 4.26 0 0 0-1.937-.45c-1.201 0-2.348.455-3.144 1.253l-4.231 4.233c-.181.172-.771.421-.95.43c-.049-.004-4.923-.355-13.896-9.329c-8.957-8.955-9.337-13.844-9.34-13.844c.005-.25.251-.838.426-1.02l3.608-3.607c1.271-1.274 1.652-3.386.898-5.022L32.19 16.938c-.579-1.192-1.704-1.928-2.952-1.928c-.883 0-1.735.366-2.401 1.031l-9.835 9.813c-.943.938-1.755 2.578-1.932 3.898c-.086.631-1.831 15.693 18.819 36.346C51.42 83.627 65.09 84.989 68.865 84.989a11 11 0 0 0 1.376-.071c1.316-.176 2.954-.986 3.891-1.925l9.827-9.826c.802-.806 1.168-1.871 1.001-2.93"/>
                            </svg>
                        </span>
                        <span>920 341 943</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:ventas@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#ff6b02] text-[#001037]">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                        </span>
                        <span>ventas@daitimport.com</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:gerencia@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#ff6b02] text-[#001037]">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                        </span>
                        <span>gerencia@daitimport.com</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:administracion@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#ff6b02] text-[#001037]">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                        </span>
                        <span>administracion@daitimport.com</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:logistica@daitimport.com" target="_blank" class="flex items-center gap-1 hover:text-[#ff6b02] text-[#001037]">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                        </span>
                        <span>logistica@daitimport.com</span>
                    </a>
                </li>
            </ul>
        </details>
        <!-- Products Section -->
        <details class="w-full lg:w-auto mb-4 lg:mb-0">
            <summary class="lg:text-2xl text-lg border-b-2 border-slate-400 cursor-pointer">Nuestras Redes</summary>
            <ul class="flex flex-col justify-center gap-2 mt-4 px-4 text-[#001037]">
                <li class="flex gap-2 items-center"><a href="https://www.facebook.com/p/DAIT-Import-SAC-100051574479000/"><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg></a>FACEBOOK</li>
                <li class="flex gap-2 items-center"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg></a>INSTAGRAM</li>
                <li class="flex gap-2 items-center"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"/></svg></a>TIKTOK</li>
            </ul>
        </details>

        <!-- Logo Section -->
        <div class="flex justify-center items-center">
            <a href="/">
                <img src={daitLogo.src} alt="Logo" class="h-16" />
            </a>
        </div>
    </div>

    <div class="w-full flex justify-center bg-[#3B4B55] text-[#fff] py-4 px-1 mt-2">
        <span class="text-center text-sm">Todos los Derechos Reservados 2024 DAIT IMPORT.<br><a href="https://github.com/Focbri" target="_blank" class="hover:text-[#ff6b02]">Web Creada por Joan</a></span>
    </div>
</footer>
