---
import concentradorO from "../../../assets/Productos/dispMedicos/concentradorOxigeno.png";
import cubreC from "../../../assets/Productos/dispMedicos/cubreCalzado.png";
import desfibrilador from "../../../assets/Productos/dispMedicos/desfibrilador.png";
import electrocardiografo from "../../../assets/Productos/dispMedicos/electrocardiografo.png";
import gorroE from "../../../assets/Productos/dispMedicos/gorroEnfermera.png";
import guantesL from "../../../assets/Productos/dispMedicos/guantesLatex.png";
import guantesQ from "../../../assets/Productos/dispMedicos/guantesQuirurgicos.png";
import mandilQ from "../../../assets/Productos/dispMedicos/mandilQ.png";
import mandilSMS from "../../../assets/Productos/dispMedicos/mandilSMS.png";
import Layout from "../../../layouts/Layout.astro";

// Array de productos
const productos = [
  { id: 1, nombre: "Concentrador de Oxígeno", imagen: concentradorO.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Concentrador%20de%20Oxígeno" },
  { id: 2, nombre: "Cubre Calzados", imagen: cubreC.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Cubre%20Calzados" },
  { id: 3, nombre: "Desfibrilador", imagen: desfibrilador.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Desfibrilador" },
  { id: 4, nombre: "Electrocardiógrafo", imagen: electrocardiografo.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Electrocardiógrafo" },
  { id: 5, nombre: "Gorro de Enfermera", imagen: gorroE.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Gorro%20de%20Enfermera" },
  { id: 6, nombre: "Guantes de Latex", imagen: guantesL.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Guantes%20de%20Latex" },
  { id: 7, nombre: "Guantes Quirúrgicos", imagen: guantesQ.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Guantes%20Quirúrgicos" },
  { id: 8, nombre: "Mandil Quirúrgico", imagen: mandilQ.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Mandil%20Quirúrgico" },
  { id: 9, nombre: "Mandil SMS", imagen: mandilSMS.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Mandil%20SMS" }
];
---

<Layout title="Disp. Médicos">
  <section class="h-full flex flex-col items-center lg:gap-8 gap-6 w-full bg-[#001037] border-t border-[#282828] lg:py-16 py-8">
    <h2 class="lg:text-5xl text-3xl border-b text-[#fff] w-[80%] text-center">Dispositivos Médicos</h2>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 lg:py-10 lg:w-[80%] w-[90%]">
        <!-- Bucle Astro para productos -->
        {productos.map((producto) => (
          <div class="flex flex-col text-[#00c1af] w-full">
            <a href={producto.enlace} target="_blank" class="w-full transition-transform duration-300 ease-in-out transform hover:scale-105">
              <img src={producto.imagen} alt={producto.nombre} class="rounded-lg"/>
            </a>
            <div class="flex justify-center flex-col py-4 w-full">
              <h4 class="lg:text-xl text-lg font-bold w-full text-center">{producto.nombre}</h4>
            </div>
          </div>
        ))}
      </div>
      
  </section>
</Layout>
